<!DOCTYPE html>

<html>


<head>
    <title>About</title>
    <title>Weather</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/mi.jpg">
        <p>This is about page. Pišem još malo texta bezveze</p>
    </div>

    {{>footer}}

</body>


</html>