body {
    color: #333333;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh
}

.main-content {
    flex-grow: 1;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

.portrait {
    width: 250px;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}

.compose {
    display: flex;
    flex-shrink: 0;
    margin-top: 10px;
    margin-left: 0px;
    padding: 18px;
    width: 60%;
}

.compose form {
    display: flex;
    flex-grow: 1;
    margin-right: 5px;
    margin-left: -20px;
}

.compose input {
    border: 1px solid #eeeeee;
    width: 200%;
    padding: 7px;
    margin: 0 5px 0 0;
    flex-grow: 1;

}

.compose button {
    font-size: 14px;
}
